{% extends "base.html" %} {% block content %}

<div class="container profile-container panel panel-default">
    <div class="row">
        <div class="col-sm-6 col-xs-12 profile-pic-container">
            {% if user.profile.profile_pic %}
            <img class="profile-pic-img" src="{{ user.profile.profile_pic.url }}" alt="profile picture"></img>
            {% else %}
            <img class="profile-pic-img" src="/media/images/default-avatar.png" alt="default avatar"></img>
            {% endif %}
        </div>
        <div class="col-sm-6 col-xs-12 profile-text text">
            <h1 class="welcome"> Welcome to <span class="profile-name text">{{ user.username }}</span>'s profile! </h1>
            <p class="text"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ user.email }} </p>
            <p class="text"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{ user.profile.location }} </p>
            <p class="text"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ user.profile.dob }} </p>
            <span class="glyphicon glyphicon-person" aria-hidden="true"></span><h4 class="text">Bio:</h4>
            <p class="text"> {{ user.profile.bio }} </p>
        </div>
    </div>
    <div class="row">
        {% if user %}
        <form action="{% url 'edit_profile' %}">
            <button type="submit">Edit Profile</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
