{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UnicornAttractor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'fluent_comments/css/ajaxcomments.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>

<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text nav-heading" href="/">UnicornAttractor</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="text nav-list"><a href="{% url 'features' %}">Features</a></li>
                    <li class="text nav-list"><a href="{% url 'bugs' %}">Bugs</a></li>
                    <li class="text nav-list"><a href="{% url 'graphs' %}">Stats</a></li>
                    <li class="text nav-list"><a href="{% url 'profile' %}">Profile</a></li>
                    <li class="text nav-list"><a href="{% url 'logout' %}">Log Out</a></li>
                    <li class="text nav-list">
                        <a href="{% url 'view_cart' %}">
                                <i class="fa fa-shopping-cart"></i> Cart
                                {% if feature_count > 0 %}
                                <label class="badge badge-warning">£{{ feature_count }}</label>
                                {% endif %}
                            </a>
                    </li>
                    {% else %}
                    <li class="nav-list"><a href="{% url 'register' %}">Register</a></li>
                    <li class="nav-list"><a href="{% url 'login' %}">Log In</a></li>
                    <li class="nav-list"><a href="{% url 'graphs' %}">Stats</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
    <div class="alert alert-success">
        <div class="messages">
            {% for message in messages %} {{ message }} {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="container-fluid">
        {% block content %} {% endblock %}
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-s-12">
                    <div class="footer-center">
                        <h3 class="footer-callout text footer-text-color">Find out more about us!</h3>
                        <a href="https://www.facebook.com" class="social_media"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.twitter.com" class="social_media"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://www.instagram.com" class="social_media"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-s-12">
                    <div class="footer-center">
                        <h3 class="footer-callout text footer-text-color">Get in touch!</h3>
                        <ul class="footer-list">
                            <li class="li-center text footer-text-color"><i class="fas fa-phone"></i> +44 1632 960502</li>
                            <li class="li-center text footer-text-color"><i class="fas fa-envelope"></i> admin@unicornAttractor.com</li>
                            <li class="li-center text footer-text-color"><i class="fas fa-map-marker-alt"></i> 221b Baker Street, London</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </footer>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript" src="{% static 'fluent_comments/js/ajaxcomments.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>


{% block head_js %} {% endblock head_js %}

</html>
