{% extends 'base.html' %} {% block content %}

<section>
    <div class="row">

        <div class="home-container">
            <div class="home-background-message">
                <h1 class="homepage-callout text">Collaborate, Innovate & Succeed</h1>
                <h4 class="text homepage-callout">Sign up to become a valued part of our growing community, share bugs and suggest new features</h4>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                        <button class="btn btn-success btn-lg signup-button" type="submit">Sign Up Now!</button>
                </form>
            </div>
        </div>

    </div>
</section>

<footer>
    <h1>Footer</h1>
</footer>

{% endblock %}
